<!--Jordan Hendrikz, u19284129, HW4
Goal 13/14 - Climate Action/Life Below Water
NPO - Greenpeace-->

<!DOCTYPE html>
<html>

    <head>
        <title>Homework Assignment 4</title>
        <meta charset="utf-8" />
        <meta name="author" content="Jordan Hendrikz" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <meta http-equiv="ContentType" content="text/html; charset = UTF-8">
        <meta name="viewport" content="width=device-width, initialscale = 1">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>

    <body id="homeB" style="background-image:url('/Media/Images/home3.jpg'); background-size:100% 100%; background-repeat: no-repeat;">

        <div class="backG" style="background-color: rgba(255, 255, 255, 0.6); border: 3px solid white; border-radius: 4px; margin:2% 0% 2% 0%; padding:2% 5% 5% 2%;">
            <h1><b>Environmentally Stable</b></h1><br />
            <p>
                Here at Environmentally Stable we offer a variety of features that will aid the NPO/NGO Greenpeace in helping people be more friendly toward the environment. Firstly, there is a calculator that shows you how to decrease your carbon and harmful chemical emissions from your vehicle.
                There is also a calculator that will aid people lessen the amount of plastic and other harmful materials they use that bring detriment to our oceans and water sources.
                By doing so we wish to create a world that is more green and healthy so we, as people, can lead a more productive, healthy, prolonged lifestyle whilst benefitting and nurturing our world around us.
            </p>

            <br/>
            <br/>

            <h3><b><u>The Use Case Narratives:</u></b></h3>

            <div class="container" id="ucNarratives">
                <div class="row">
                    <h3>Vehicle Emissions Calculator:</h3>
                    <div class="card">
                        <div class="col-lg-3" style="margin-left:1%;">
                            <img src="/Media/Images/veh1.png" width="350px" height="380px" />
                        </div>
                        <div class="col-lg-3" style="margin-left:5%;">
                            <img src="/Media/Images/veh2.png" width="350px" height="380px" />
                        </div>
                        <div class="col-lg-3" style="margin-left:5%;">
                            <img src="/Media/Images/veh3.png" width="350px" height="380px" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3>Ocean Pollution Calculator:</h3>
                    <div class="card">
                        <div class="col-lg-3" style="margin-left:1%;">
                            <img src="/Media/Images/oce1.png" width="350px" height="380px" />
                        </div>
                        <div class="col-lg-3" style="margin-left:5%;">
                            <img src="/Media/Images/oce2.png" width="350px" height="380px" />
                        </div>
                        <div class="col-lg-3" style="margin-left:5%;">
                            <img src="/Media/Images/oce3.png" width="350px" height="380px" />
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <br/>

            <h3><b><u>The Class Structure Diagram:</u></b></h3>

            <div class="container" id="csDiagram">
                <div class="row">
                    <div class="card">
                        <div class="col-lg-3" style="margin-left:20%;">
                            <img src="/Media/Images/cs.png" width="600px" height="600px" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

</body>

</html>
